@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html.dark {
    color-scheme: dark;
  }

  html:not(.dark) {
    color-scheme: light;
  }

  body {
    @apply antialiased transition-colors duration-200;
  }
}

